.architect-container {
  width: 100%;
  // min-height: 10rem;
  height: fit-content;
  // border: 2px solid yellow;
  margin-top: 2rem;

  .architect {
    height: fit-content;
    width: 100%;
    // border: 2px solid rgb(255, 187, 0);
    box-shadow: 2px 2px 4px rgb(201, 201, 201);
      margin-bottom: 2rem;
    
    .image-container {
      // height: 75%;
      width: 100%;
      // border: 2px solid blue;
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }

      .button {
        position: absolute;
        bottom: 0;
        padding: 1rem 1rem;
        // font-size: 1rem;
        color: white;

        button {
          // width: 3rem;
          font-size: 1rem;
          color: white;
          border: none;
          background-color: orangered;
        }

        h5 {
          font-size: 2rem;
          font-weight: 600;
          text-shadow: 2px 2px #111111;
        }
      }
    }
    .architect-details{
background-color: white;
height: fit-content;
        padding: 1.5rem 1rem;
        span{
            width: 100%;
            display: flex;
            justify-content: left;
            gap: 1rem;
        }
    }
  }
}

// @media (max-width:760px) {
//     .architect {
//       height: fit-content;
//       // border: 2px solid blue;
//       .image-container {
//         height: auto;
//         width: 100%;
//           }
//       }
//     }  
