.carousel {
  width: 100%;
  height: 30rem;
  // border: 2px solid red;
  position: relative;

  .carousel-indicators{
    button{
      // color: red;
      // background-color: red;
      border-radius: 50%;
      // margin-top: 2rem;  
      width: .5vw;
      height: .5vw;
    }
  }

  .overlay {
    display: none;
    // opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 90;
    transition: 1s;
  }
  .carousel-image {
    width: 100%;
    height: 30rem;
    border-radius: 8px;
    .caption {
      z-index: 98;
      //   border: 2px solid green;
      .title_text {
        text-shadow: 2px 2px black;
        font-size: 2.5vw;
      }
      .description_text {
        font-size: 1.2vw;
      }
      .read-more {
        padding: 0.2rem 1rem;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 5px;
        color: white;
        width: fit-content;
        font-size: 1vw;
        transition: 0.5s;
      }
      .read-more:hover {
        background-color: orangered;
        transition: 0.5s;
      }
    }
  }

  img.d-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
    z-index: 1;
  }
  // .overlay{
  //     background-color: rgba(0, 0, 0, 0.137);
  //     position: absolute;
  //     top: 0;
  // }
}
.carousel:hover .overlay {
  display: block;
  cursor: pointer;
  transition: 1s;
  background-color: rgba(48, 43, 43, 0.301);
}

@media (max-width: 600px) {
  .carousel {
    width: 100%;
    height: 15rem;
    // border: 2px solid red;
    .carousel-indicators{
      button{
        width: 1vw;
        height: 1vw;
      }
    }
    .carousel-image {
      width: 100%;
      height: 15rem;
      .caption {
        .title_text {
          font-size: 4vw;
        }
        .description_text {
          font-size: 2vw;
        }
        .read-more {
          font-size: 2vw;
        }
      }
    }
  }
}
