.mainSection {

  background-color: rgb(243, 243, 243);
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: .3rem;
  padding: 2rem;
  grid-column-gap: 2rem;
  position: relative;
  // margin: 3rem auto;
//   .advert{
//     position: fixed;
//     width: 19.8rem;
//     min-height: 10rem ;
// box-shadow: 2px 3px 4px grey;
// border-radius: 10px;
// right: 2rem;
// background-color: rgba(240, 139, 99, 0.089);
// backdrop-filter: blur(10px);
// -webkit-backdrop-filter: blur(10px);
// text-align: center;
// margin: auto;
// padding-top: 5%;
// }
  
  .up-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    border:none;
    display: block;
  }
  
}
.leftSection {
  width: 90%;
  // border: 2px solid yellow;
  padding-bottom: 2rem;
}

.rightSection{
  width: 30%;
  height: 95vh;
  //  border: 2px solid red;
  //  overflow-y: scroll;
  //  position: fixed;
   margin-bottom: 2rem;
     // background-color: rgb(246, 250, 246);
//     .weekTrends{
//         height: fit-content;
//         // background-color: red;

//         .weekTrend-heading{
//             text-align: left;
//             box-shadow: 2px 2px 5px grey;
//         padding: .8rem;

//         }
//         .trends{
//             height: fit-content;
//         }
//     }

}

.ads{
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 68, 0, 0.685);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px 15px 0 0;
  text-align: center;
  z-index: 99;
  color: white;
  opacity: 0;
  transition: 1s;
  .cancel_btn{
    position: fixed;
    top: .3rem;
    right: 1rem;
    cursor: pointer;
  }
}

.show_ads{
  opacity: 1;
  transition: 1s;

}
// .stick {
//   position: fixed;
//   top: 10vh;
//   right: 2rem;
//   width: 26vw;
//   // z-index: ;
//   // height: 10rem;

//   // box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
//   // background-color: #ffffff !important;
//   animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
//   // padding-top: 0px;
//   // padding-bottom: 0px;
//   // border: 2px solid yellow;
//   // overflow-y: scroll;

// }

@media (max-width: 1024px) {
  .mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .3rem;
  }
  .leftSection {
    width: 100%;
    // border: 2px solid yellow;
    padding-bottom: 2rem;
  }
  .rightSection {
    // border: 2px solid red;
    width: 100%;

    //     background-color: rgb(246, 250, 246);
    //     .weekTrends{
    //         height: fit-content;
    //         // background-color: red;
  }
}
.hide{
  display: none;
}