.mainSection {

  background-color: rgb(243, 243, 243);
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: .3rem;
  padding: 2rem;
  grid-column-gap: 2rem;
  position: relative;
  // margin: 3rem auto;
  .up-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    border:none;
    display: block;
  }
  
}
.leftSection {
  width: 90%;
  // border: 2px solid yellow;
  padding-bottom: 2rem;
}

.rightSection{
  width: 35%;
  //  border: 2px solid red;
    background-color: rgb(246, 250, 246);
//     .weekTrends{
//         height: fit-content;
//         // background-color: red;

//         .weekTrend-heading{
//             text-align: left;
//             box-shadow: 2px 2px 5px grey;
//         padding: .8rem;

//         }
//         .trends{
//             height: fit-content;
//         }
//     }

}

@media (max-width: 1024px) {
  .mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .3rem;
  }
  .leftSection {
    width: 100%;
    // border: 2px solid yellow;
    padding-bottom: 2rem;
  }
  .rightSection {
    // border: 2px solid red;
    width: 100%;

    //     background-color: rgb(246, 250, 246);
    //     .weekTrends{
    //         height: fit-content;
    //         // background-color: red;
  }
}
.hide{
  display: none;
}