.right-section{
    // width: 50%;
    height: fit-content;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 12rem;

}


